/*body {
    background-image: url(https://wallpaperaccess.com/full/2478733.jpg);
    background-color: #fef1f1;
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#name{
    text-align: center;
}*/